ion-content {
  // --background: var(--ion-color-dark) url('../../assets/image/bg.jpg')
}

ion-list {
  transform: translateY(25vh);
  background: transparent;
  img {
    background: white;
    height: 20vh;
  }
  // ion-list-header {
  //   margin-bottom: 15vh;
  //   letter-spacing: 3px;
  //   ion-label{
  //     font-weight: bold;
  //     font-size: 3rem;
  //     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  //     color: white;
  //   }
  // }
  ion-button {
    font-weight: bold;
    text-transform: none;
    margin: 5vh;
    color: white;
  }
  p {
    font-size: 0.9;
    color: whitesmoke;
  }
}
